@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;1,700&display=swap');


.container-fluid {
  display: inline-flex;
  flex-direction: column;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

#top {
  background-color: #F4F4F1;
  display: flex;
  min-width: 100vw;
  height: 14%;
  align-self: center;
  align-items: center;
}

#logo {
  height: 80%;
}

#logo-icon {
  content: url('../logo_icon.png');
  display: block;
  height: 100%;
  padding-left: 1vw;
}

#toolbar-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0% 5% 0% 2.5%;
}

#keyword-input {
  font-family: 'Pavanam', sans-serif;
  font-size: 1.2em;
  border: 1px solid #62681E;
  border-radius: 10px;
  padding: 1% 2% 1% 6.5%;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.6; /* Firefox */
}

input[type=text]:hover {
	box-shadow: 0px 0px 10px #62681E;
}

input[type=text]:focus {
	outline: none;
	box-shadow: 0px 0px 10px green;
}

#given-img {
  position: absolute;
  margin: 0.2% 0.6%;
  top: 0%;
  left: 2%;
  width: 4%;
  height: 90%;
}

#given-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#given-img:hover {
  cursor: pointer;
}

#recipes-container {
  display: flex;
  margin: 3.0% 0.5% 2.5% 1%;
  padding-top: 0.9%;
  width: 100%;
  height: 65%;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

#one-recipe-container {
  max-width: 27% !important;
  min-width: 27% !important;
  height: 98%;

  display: block;
  position: relative;
  background-color: rgba(207, 198, 172, 0.24);
  margin: 0% 3%;

  border-radius: 15px 50px;
  box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.25);

  perspective: 600px;
}

.recipe-card {
  height: 100%;
  width: inherit;
  border-radius: inherit;

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

#front {
  height: 100%;
  width: inherit;
  border-radius: inherit;
  box-shadow: 3px 3px 17px rgba(0,0,0,0.4);
}

#front:hover{
  cursor: pointer;
  box-shadow: -2px -4px 7px 4px #CFC6AC;
}

#recipe-img {
  position: absolute;
  left: 0;
  background-color: #779476;
  border-radius: 15px 50px 0px 0px;
  width: 100%;
  height: 45%;
}

#recipe-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px 50px 0px 0px;
  box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.5);
}

h4 {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  text-align: center;
}

h5 {
  text-align: right;
    margin: 0 !important;
}

#ingredients {
  position: relative;
  height: 51.5%;
  left:0;
  top:45%;
  padding: 5% 3%;
  overflow: auto;
  scroll-behavior: smooth;
  border-radius: 0px 0px 15px 50px;

  font-family: 'Pavanam', sans-serif;
  font-size: 1.3em;

  white-space: pre-line;
}

#load-more-container, #app-info{
  position: relative;
  align-self: center;
}

#app-info{
  position: absolute;
  bottom:0px;
  margin-bottom: 0.5%;
  align-items: baseline;
}
