@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container-fluid {
  display: inline-flex;
  flex-direction: column;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

#top {
  background-color: #F4F4F1;
  display: flex;
  min-width: 100vw;
  height: 14%;
  align-self: center;
  align-items: center;
}

#logo {
  height: 80%;
}

#logo-icon {
  content: url('../logo_icon.png');
  display: block;
  height: 100%;
  padding-left: 1vw;
}

#toolbar-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0% 5% 0% 2.5%;
}

#keyword-input {
  font-family: 'Pavanam', sans-serif;
  font-size: 1.2em;
  border: 1px solid #62681E;
  border-radius: 10px;
  padding: 1% 2% 1% 6.5%;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  /* Firefox */
}

input[type=text]:disabled {
  cursor: no-drop;
}

input[type=text]:hover {
  box-shadow: 0px 0px 10px #62681E;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0px 0px 10px green;
}

#given-img {
  position: absolute;
  margin: 0.2% 0.6%;
  top: 0%;
  left: 2%;
  width: 4%;
  height: 90%;
}

#given-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#given-img:hover {
  /* cursor: pointer; */
  cursor: not-allowed;
}

#recipes-container {
  display: flex;
  margin: 3.0% 0.5% 2.5% 1%;
  padding-top: 0.9%;
  width: 100%;
  height: 65%;
  flex-wrap: wrap;
  overflow: auto;
  align-items: flex-start;
}

#one-recipe-container {
  max-width: 27% !important;
  min-width: 27% !important;
  height: 98%;
  display: block;
  position: relative;
  margin: 0% 3% 2% 3%;
  perspective: 600px;
}

.recipe-card {
  height: 100%;
  width: 100%;
  border-radius: 15px 50px;
  box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(207, 198, 172, 0.24);
  position: relative;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index: 100;
}

.recipe-card.is-flipped {
  position: inherit;
  width: inherit;
  height: inherit;
  transform: rotateY(180deg);
  box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.4);
}

.recipe-card.is-flipped #front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
}

#front, #back {
  transition-delay: 0.3s;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  word-break: break-all
}

#back {
  transform: rotateY(180deg);
  border-radius: 50px 15px !important;
  padding: 6%;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  scroll-behavior: smooth;
}

#front:hover, #back:hover {
  cursor: pointer;
  box-shadow: -2px -4px 7px 4px #CFC6AC;
}

#recipe-img {
  position: absolute;
  left: 0;
  background-color: #779476;
  border-radius: 15px 50px 0px 0px;
  box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 45%;
}

#recipe-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px 50px 0px 0px;
  /*box-shadow: inherit; !*inset 0px -10px 20px rgba(0, 0, 0, 0.5);*!*/
}

h4 {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  text-align: center;
}

h6 {
  text-align: right;
  margin: 0 !important;
}

#ingredients {
  position: relative;
  height: 51.5%;
  left: 0;
  top: 45%;
  padding: 5% 3%;
  border-radius: 0px 0px 15px 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  white-space: pre-line;
  overflow: hidden;
}

#img-data {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: block;
  display: -webkit-box;
  max-height: 45%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#load-more-container, #app-info {
  position: relative;
  align-self: center;
}

#app-info {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0.5%;
  align-items: baseline;
}

#data {
  margin-left: 5% !important;
}

span {
  overflow: auto;
}

#back-content {
  height: 98%;
  overflow: auto;
}
