<!doctype html>
<html lang="en">

<head>
    <title>Choose Your Recipe</title>
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='front-end/recipe.css') }}">#}
  <link rel="stylesheet" href="../static/front-end/recipe.css">
    <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{#    <!-- <script src="{{ url_for('static', filename='front-end/recipe.js') }}"></script> -->#}
{#  <!-- <script src="../static/front-end/recipe.js') }}"></script> -->#}

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
   <!-- spanning the entire width of the viewport. -->
  <div class="container-fluid">
    <div class="row" id="top">
      <div class="col-lg-1" id="logo">
        <a href="index.html" id="logo-icon"></a>
      </div>
      <div class="col-lg" id="toolbar-container">
          <div class="keyword-toolbar">
            <div id="given-img">
                <img src="{{ img_addr }}"/>
            </div>

            <form>
              <input type="text" id="keyword-input" placeholder="optional: enter keywords"/>
            </form>
          </div>
          <!-- <div id="search icon">

          </div> -->
      </div>
    </div>

    <div class="row" id="recipe-container">
      <div class="row" id= "recipe-card">

        {% for r in recipes %}

        <div class="col-lg" id="front">
          <div id="recipe-img">
            <img src={{ r['recipe']['image'] }} alt={{ r['recipe']['url'] }}/>
          </div>
          <div id="ingredients">
            <h4 id="r-title">{{ r['recipe']['label'] }}</h4>
            <h5>For {{ r['recipe']['yield'] }} servings</h5>
            <span>- {{ "\n - ".join(r['recipe']['ingredientLines']) }}</span>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>

    <div class="row" id="load-more-container">
      <button type="button" class="btn btn-warning">Load More</button>
    </div>

    <div class="row" id="app-info">
      2020-May
    </div>

  </div>
</body>

</html>
